body{
    margin:0;
    background-color: lightgoldenrodyellow;
    min-height: 100dvh;
}
header {
    /* background-color: #b8e4f2; */
    padding: 50px 0;
    margin:  0 auto;
    width: 500px;
    text-align: center;
}

header h1, h2{
    font-weight: normal;
    margin: 0;
}

nav{
    display: block;
    position:fixed;
    top: 10px;
    width: 200px;
    padding: 10px;
}

nav a{
    color: inherit;
    text-decoration: none;
}

nav ul{
    list-style: none;
    padding: 0;
    text-transform: lowercase;
}

nav a:hover{
    text-decoration: underline;
}

main {
    /* background: rgb(145, 229, 97); */
    padding: 0px;
    margin:  0 auto;
    width: 500px;
}

hr{
    border-top: 0.5px solid black;
    height: 0;
}

section {
    /* background-color: #fef993; */
    padding: 5px;
    margin: 10px 0;
}

section h2{
    text-transform: lowercase;
}

section p{

}

footer {
    /* position:absolute; */
    bottom: 0;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-size: 0.5em;
    background-color: lightgoldenrodyellow;
}