<!DOCTYPE html>
<html>

<head>
	<title>Subject Matter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="style.css?ver=1.1" />
	<link rel="stylesheet" href="phdstyle.css?ver=1.1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon/faviconsm4.ico" sizes="any">
    <script src="form.js" defer></script>

    <!-- <link rel="icon" href="sfavicon.ico" sizes="any"> -->

    <style>

    </style> 
</head>

<body>
    <header>
        <h1>Werkgeld</h1>
        <h2>wat als tijd letterlijk geld is?</h2>
    </header>

<main>
    <section id="intro">
        <h2>Tijdbankieren?</h2>
        <p>werkt zo</p>
        <img src="" alt="">
        <p>en zo</p>
    </section>

    <section id="concept">
        <h2>Werkgeld!</h2>
        <p>werkt zo</p>
        <img src="" alt="">
        <p>en zo</p>
    </section>

    <section id="faq">
        <h2>Veelgestelde vragen</h2>
        <details>
            <summary>A question?</summary>
            An answer.
        </details>
        <details>
            <summary>A second question?</summary>
            Another answer.
        </details>
    </section>

    <section id="help">
        <h2>We zoeken nog naar?</h2>
        <!-- List of roles to contribute to the project, could also be a <ul> or something, not sure what's best -->
        <details>
            <summary>Web designer</summary>
            Details
        </details>
        <details>
            <summary>Volunteer</summary>
            Another answer.
        </details>
        <form action="">
            Contact form 
        </form>
    </section>

    <section id="comments">
        <h2>What do you think about it?</h2>
        <!-- commenting plugin -->

    </section>
    
</main>

<footer>
    <p>Werkgeld is een project van Today, 2024</p>
    
</footer>

</body>

</html>
